.App{
  background: black;
  color: azure;
  text-align: center;
  height: 100vh;
}

.App button{
  
  background-color: white;
  color: black;
  border: 2px solid #fc4cd6; 
  border-radius: 12px;
  font-size: 30px;
}

.main{
  background: blueviolet;
  height:70px;
 
}

.main nav{
  margin-right: 90%;
  padding-top: 20px;
  font-size: 30px;
  font-family: monospace;


}


.card{
  background: pink;
  display: flex;
  flex-direction: row;
  height:500px;
  width: 75vw;
  margin-left: 200px;
  margin-top: 60px;

}

